<html>
<header>
    <title>Track 2</title>
</header>

<body>
    <li><a href="/">Track 2 - Application Bancaire</a></li>
    <br>
    <br>
    BASIC DATA:
    <ul>
        <li>{{ content_basic }}</li>
    </ul>
    <br>
    <br>
    ACTION DATA:
    <ul>
        <li>{{ content_action }}</li>
    </ul>

    <br>
    <br>
    LOGIN:<br>
    <form action="/login" method="POST">
        <label>Username : </label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <br>
    <br>
    LOGOUT:<br>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <br>
    <br>
    CREATE USER:<br>
    <form action="/createuser" method="POST">
        <ul>
            <li>
                <label>username : </label>
                <input type="text" placeholder="Provide the new username" name="name" required>
            </li>
            <li>
                <label>Password : </label>
                <input type="password" placeholder="Provide your password" name="password" required>
            </li>
            <li>
                <button type="submit">Submit</button>
            </li>
        </ul>
    </form>
    <br>
    <br>
    VIEW ACCOUNT DETAILS: <br>
    <ul>
	<li><form action="/account" method="POST">
		<label>AccountId : </label>
		<input type="text" placeholder="Give action id" name="AccountId" required>
	<button type="submit">Submit</button>
	</form>
	</li>
    </ul>
    <br>
    <br>
    DEPOSIT:<br>
    <ul>
        <li>
            <form action="/deposit" method="POST">
                <label>Amount : </label>
                <input type="text" placeholder="Deposition amount" name="deposit" required>
                <button type="submit">Submit</button>
            </form>
        </li>
    </ul>
    <br>
    <br>
    WITHDRAW:<br>
    <ul>
        <li>
            <form action="/withdraw" method="POST">
                <label>Amount : </label>
                <input type="text" placeholder="Withdrawal amount" name="withdraw" required>
                <button type="submit">Submit</button>
            </form>
        </li>
    </ul>
    <br>
    SPECIAL:<br>
    <ul>
        <li><a href="/flag">Want to see something special</a></li>
    </ul>
</body>

</html>
