<html>
<header>
    <title>Track 1</title>
</header>

<body>
    <a href="/">Track 1 - Application Bancaire</a>
    <br>
    <br>
    BASIC DATA:
    <ul>
        <li>{{ content_basic }}</li>
    </ul>
    <br>
    <br>
    ACTION DATA:
    <ul>
        <li>{{ content_action|safe }}</li>
    </ul>

    <br>
    LOGIN:<br>
    <form action="/login" method="POST">
        <ul style="list-style: none;">
            <li>
                <label>Username : </label>
                <input type="text" placeholder="Enter Username" name="username" id="username" required>
            </li>
            <li>
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>
            </li>
            <li>
                <button type="submit" id="login">Login</button>
            </li>
        </ul>
    </form>
    <br>
    <br>
    LOGOUT:<br>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <br>
    <br>
    CREATE USER:<br>
    <form action="/createuser" method="POST">
        <ul style="list-style: none;">
            <li>
                <label>Username : </label>
                <input type="text" placeholder="Enter Username" name="username" required>
            </li>
            <li>
                <label>Password : </label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </li>
            <li>
                <button type="submit">Submit</button>
            </li>
        </ul>
    </form>
    VIEW ALL USERS:<br>
    <ul>
        <li><a href="/users">View all users (admin only)</a></li>
    </ul>
    <br>
    <br>
    ACCOUNT DETAILS: <br>
    <ul>
        <li><a href="/account">View all my transactions</a></li>
    </ul>
    <br>
    <br>
    <ul>
        <li>
            <form action="/action" method="POST">
                <label>View my transaction with id (user only):</label>
                <input type="text" placeholder="Transaction id" name="action" required>
                <button type="submit">Submit</button>
            </form>
        </li>
    </ul>
    <br>
    <br>
    DEPOSIT:<br>
    <ul>
        <li>
            <form action="/deposit" method="POST">
                <label>Amount : </label>
                <input type="text" placeholder="Deposition amount" name="deposit" required>
                <button type="submit">Submit</button>
            </form>
        </li>
    </ul>
    <br>
    <br>
    WITHDRAW:<br>
    <ul>
        <li>
            <form action="/withdraw" method="POST">
                <label>Amount : </label>
                <input type="text" placeholder="Withdrawal amount" name="withdraw" required>
                <button type="submit">Submit</button>
            </form>
        </li>
    </ul>
</body>

</html>